# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore npm packages
node_modules

cache
.htaccess
.buildpath
.idea
.project
.settings
install.php
sites/settings.php
sites/all/themes/n4tredesign/images/home-right-column.psd
scripts/chat_xml_generator/xml/*.xml
scripts/chat_xml_generator/xml
scripts/chat_xml_generator/htmlpurifier
sites/all/modules/NIDA/educator_app/.sass-cache
sites/all/modules/NIDA/chatday_search/.sass-cache
sites/all/themes/n4tredesign/.sass-cache
sites/all/themes/n4tredesign/.sass-cache/*
Phlickr