/* variables for responsive breakpoints */
$break-phone: 321px;
$break-small: 481px;
$break-small-inbetween: 550px;
$break-tablet: 601px;
$break-medium: 769px;
$break-large: 961px;
$break-ipad: 1025px;
$break-xlarge: 1220px;