@import 'breakpoints';
@import 'paragraphs_text_images';
@import 'paragraphs_video';

.inline-block {
  display:inline-block;
}
.float-right {
  float:right;
}
.float-left {
  float:left;
}
.clear-left {
  clear:left;
}
.clear-right {
  clear:right;
}

/*Misc Helpers */
.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}